
.body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.container {
    max-width: 800px;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.section {
    margin-bottom: 20px;
}
.sectionimg {
    max-width: 150px;
    border-radius: 50%;
    
}
.sectionh2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.sectionp {
    font-size: 1.2rem;
    line-height: 1.6;
}
.a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.a:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
